<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff">
</head>
<body>
<nav th:replace="base :: navbar"></nav>


<div class="container">
    <h5>Post your thoughts</h5>
    The time is: <i th:text="${execInfo.now.time}"></i><br/><br/>
    <form action="#"
          method="post"
          th:action="@{/process}"
          th:object="${message}">
        <input th:field="*{id}" type="hidden"/>
        <div class="form-group">
            <label for="thoughtTitle"><b>Title</b></label>
            <input class="form-control" id="thoughtTitle" placeholder="Name Your Thought" th:field="*{title}"
                   type="text">
            <span th:errors="*{title}"
                  th:if="${#fields.hasErrors('title')}"></span><br/>
        </div>

        <div class="form-group">
            <label for="thoughtContent"><b>Thought</b></label>
            <textarea class="form-control" id="thoughtContent"  placeholder="Your Thought Here" rows="3" th:field="*{content}"></textarea>
            <span th:errors="{content}"
                  th:if="${#fields.hasErrors('content')}"></span><br/>
        </div>

        <div class="form-group">
            <label for="postedBy"><b>Posted By</b></label>
            <input class="form-control" id="postedBy" placeholder="@name" th:field="*{postedBy}" type="text">
            <span th:errors="*{postedBy}"
                  th:if="${#fields.hasErrors('postedBy')}"></span><br/>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>

<!--<form action="#"-->
<!--th:action="@{/process}"-->
<!--th:object="${message}"-->
<!--method="post">-->
<!--<input type="hidden" th:field="*{id}"/>-->
<!--Title :<input type="text" th:field="*{title}"/>-->
<!--<span th:if="${#fields.hasErrors('title')}"-->
<!--th:errors="*{title}"></span><br/>-->
<!--Thought :<textarea rows="3" th:field="*{content}"/>-->
<!--<span th:if="${#fields.hasErrors('content')}"-->
<!--th:errors="{content}"></span><br/>-->
<!--Posted By :<input type="text" th:field="*{postedBy}"/>-->
<!--<span th:if="${#fields.hasErrors('postedBy')}"-->
<!--th:errors="*{postedBy}"></span><br/>-->
<!--<input type="submit" value="Submit"/>-->
<!--</form>-->

<nav th:replace="base :: foot"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>