<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff">

</head>
<body>
<nav th:replace="base :: navbar"></nav>

<a href="/">Show All Thoughts</a><br/>
Title :<span th:text="${message.title}"></span><br/>
Thought :<span th:text="${message.content}"></span><br/>
Posted Date :<span th:text="${message.postedDate}" ></span><br/>
Posted By :<span th:text="${message.postedBy}" ></span><br/>

<a th:href="@{/delete/{id}(id=${message.id})}">Delete this thought</a>

<nav th:replace="base :: foot"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>